<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3" id="user-icon-img">

          <img src="../images/steam-icon.jpg" alt="user-icon" id="steam-icon"></br>
        </div>
        <div>
          <p>
            {{user.dataValues.user_name}}
            Your user name should be here</p>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">

            </div>
            <div class="column">
              <img src="../images/logo.png" class="logo opaque mt-3">
            </div>
            <div class="column">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-success" type="text" placeholder="What games are you looking for?">
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="card has-text-centehas-text-danger" id="user-card">
            <div class="user-rep">
              <i class="fas fa-smile emoji" id="smile-icon"></i>
              <span><strong>{{user.dataValues.user_name}} Rep Score</strong></span>
            </div>
            <i class="fas fa-star is-clickable is-focused" id="s1"></i>
            <i class="fas fa-star is-clickable is-focused" id="s2"></i>
            <i class="fas fa-star is-clickable is-focused" id="s3"></i>
            <i class="fas fa-star is-clickable is-focused" id="s4"></i>
            <i class="fas fa-star is-clickable is-focused" id="s5"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="columns is-mobile">
        <div class="column">
          <p class="bd-notification is-danger">
          <article class="panel">
            <p class="panel-heading">
              Friends
            </p>
            <div>
              <ul>
                {{#each friends}}
                {{#dataValues}}
                <li>
                  {{{id}}}.... {{{user_name}}} A friend should be here.
                </li>
                {{/dataValues}}
                {{/each}}
              </ul>
            </div>

            <div class="panel-block">
              <p class="control has-icons-left">
                <span class="icon is-left">
                </span>
              </p>
            </div>

            {{#each friends}}
            {{#dataValues}}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>{{{user_name}}}</strong>
              </a>

              <div class="navbar-dropdown">

              </div>
            </div>
            {{/dataValues}}
            {{/each}}


            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Bob_Johnson82</strong>
              </a>

              <div class="navbar-dropdown">

              </div>
            </div>

            <div class="navbar-item is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>BIGGGUNZZZ</strong>
              </a>

              <div class="navbar-dropdown">

              </div>
            </div>
            <div class="navbar-item is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Slayerrr</strong>
              </a>

              <div class="navbar-dropdown">

              </div>
            </div>
          </article>
          </p>
        </div>

        <div class="column is-half">
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="fallguys">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="brawlhalla">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="yakuza">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="amongus">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="cyberpunk">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="destiny">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="csgo">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="brawlhalla">
                <header class="card-header">
                  <p class="card-header-title has-text-red">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
            <div class="column is-one-third">
              <div class="card opaque is-clickable" id="phasmo">
                <header class="card-header">
                  <p class="card-header-title has-text-white">

                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">

                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="column is-3 solid">
          <article class="panel is-danger">
            <p class="panel-heading">
              Current Game
            </p>
            <h2 class="has-text-white">Game Invites Incoming</h2>
            <div class="panel-block">

            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Tommy864</strong>
              </a>

              <div class="">

                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>BIGGGUNZZZ</strong>
              </a>

              <div class="">

                <hr class="navbar-divider">
              </div>
            </div>
            <h2 class="has-text-white">Invites Accepted</h2>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Slayerrr</strong>
              </a>

              <div class="">

                <hr class="navbar-divider">
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="panel-block has-text-danger">
                <span class="panel-icon">
                  <i class="fas" aria-hidden="true"></i>
                </span>
                <strong>Bob_Johnson82</strong>
              </a>

              <div class="">

                <hr class="navbar-divider">
              </div>
            </div>
          </article>
        </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#s1").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1").css("color", "yellow");
      })
      $("#s2").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2").css("color", "yellow");
      })
      $("#s3").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3").css("color", "yellow");
      })
      $("#s4").click(function () {
        $(".fa-star").css("color", "black")
        $("#s1, #s2, #s3, #s4").css("color", "yellow");
      })
      $("#s5").click(function () {
        $(".fa-star").css("color", "black")
        $(".fa-star").css("color", "yellow");
      })
      $("#csgo").on("click" function () {
        res.render("game-page");
      });

      Message #general


  </script>
</body>